extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi kh ối
	section.home-slider
		.owl-carousel.owl-theme
			.item
				figure
					img.img-fluid.w-100(src="./img/home-slider.png", alt="", srcset="")
				figcaption
					h2 Tận tâm phục vụ khách hàng
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nostrum sint mollitia in eos harum officia veritatis dignissimos numquam, odio maxime natus ratione laborum, porro sequi reprehenderit. Illo, ducimus officiis.
					button.btn.btn-primary Đặt Hàng
	section.home-service
		.container
			.row
					.box1
						h2 Chính Thức
						h2.abc Ra Mắt
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae aliquid nobis ipsa hic dignissimos? Dolorem necessitatibus ipsa illum dolor vitae aut dolorum ipsum fugiat cum quae. Eum velit magni animi.
	section.home-shop
		.container
			.row
				.col-md-6
					.hihi
						.Hv
						h3 Nỗi Bật
				.col-md-6
					.row
						.col-md-6
							figure
								img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
						.col-md-6
							figure
								img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
			.row
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
				.col-md-3
					figure
						img.img-fluid.w-100(src="./img/home-shop-1.jpg", alt="", srcset="")
